*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
  font-display: block;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #222;
  min-height: 100vh;
}

a {
  &:link {
    color: white;
  }

  &:visited {
    color: white;
  }

  &:active {
    color: #ddd;
  }

  &:hover {
    color: #eee;
  }
}

.content {
  --content-width: 1250px;
  display: flex;
  justify-content: center;
  align-items: stretch;

  & > * {
    flex-shrink: 0
  }

  margin: 0 auto;
  width: var(--content-width);
  height: clamp(800px, 100vh, 1000px);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: center / cover no-repeat url("./images/nature-photo.jpg");

  color: white;
  width: calc(7 / 20 * var(--content-width));

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 40%;
    background-color: rgb(0 0 0 / 50%);

    img {
      width: 80px;
    }

    p {
      font-weight: 700;
      font-family: "Norse-Bold";
      font-size: 5.5rem;
    }
  }

  .credit {
    align-self: center;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
}

.right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  font-family: Verdana, system-ui, sans-serif;
  padding: 10px 140px 10px 40px;
  background-color: #f5f5f5;
  width: calc(13 / 20 * var(--content-width));

  .main-text {
    font-weight: 700;
    font-size: 1.35rem;
    p:last-child {
      margin-top: 20px;
    }

  }

  form {

  }

  .accounts {

    button.create-account {
      cursor: pointer;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      padding: 10px 50px;
      border: none;
      border-radius: 10px;
      background-color: #596D48;
      margin-bottom: 25px;

      &:hover { background-color: #597D48; }
      &:active { background-color: #598D48; }
    }

    p {
      font-size: 1.1rem;

      a {
        color: #596D48;
        text-decoration: none;
        font-weight: bold;
      }

    }
  }
}



